root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = false
max_line_length = 240

[{*.yaml,*.levity}]
indent_size = 2
indent_style = space

[{*.py,*.pyw}]
indent_style = tab
indent_size = 2
insert_final_newline = true



