[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylunar = "*"
pysolar = "*"
pytz = "*"
climacell-python = "*"
numpy = "*" #install with pip3 install numpy --no-use-pep517 first
ambient-api = "*"
pyside2 = "*"
docopt = "<0.7,>=0.6.2"

[dev-packages]

[requires]
python_version = "3.9"
