[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[[source]]
url = "https://download.qt.io/official_releases/QtForPython/"
verify_ssl = true
name = "qt"


[packages]
pysolar = "*"
pytz = "*"
requests = "*"
pylunar = { editable = true, git = "https://github.com/noblecloud/pylunar.git" }
#numpy = { pip_options = ['--no-use-pep517'] }
#scipy = "*"
#pyside2 = { version = "*", index = "qt" } # See https://github.com/piwheels/packages/issues/4#issuecomment-772058821 for RPI installationz
Pillow = "*"
WeatherUnits = { editable = true, path = "../WeatherUnits" }
qasync = "*"
websockets = "*"
aiohttp = "*"
#pyqt5-stubs = "==5.15.2.0"
#prettyprint = "*"
#pylint = "*"
#bleak = "*"

[dev-packages]

[requires]
python_version = "3.9"
