* {
	background-color: black;
	color: white;
}

#Graph{
	background-color: black;
}

*[live=true] {
	color: white;
}

*[live=false]{
	color: red;
}

#windRose {
	background-color: none;
}
#directionLabel {
	margin: -20px;
}
